<template>
  <div class="actual">
    <Actual />
  </div>
</template>

<script>
// @ is an alias to /src
import Actual from "@/components/Actual.vue";

export default {
  name: "actual",
  components: {
    Actual
  }
};
</script>
