<template>
  <div class="charts">
    <Chart />
  </div>
</template>

<script>
// @ is an alias to /src
import Chart from "@/components/Chart.vue";

export default {
  name: "charts",
  components: {
    Chart
  }
};
</script>
