<template>
  <div class="per-day">
    <PerDay />
  </div>
</template>

<script>
// @ is an alias to /src
import PerDay from "@/components/PerDay.vue";

export default {
  name: "per-day",
  components: {
    PerDay
  }
};
</script>
