<template>
  <div class="per-hour">
    <PerHour />
  </div>
</template>

<script>
// @ is an alias to /src
import PerHour from "@/components/PerHour.vue";

export default {
  name: "per-hour",
  components: {
    PerHour
  }
};
</script>
