<template>
  <div class="per-month">
    <PerMonth />
  </div>
</template>

<script>
// @ is an alias to /src
import PerMonth from "@/components/PerMonth.vue";

export default {
  name: "per-month",
  components: {
    PerMonth
  }
};
</script>
