<template>
  <div class="system-info">
    <SystemInfo />
  </div>
</template>

<script>
// @ is an alias to /src
import SystemInfo from "@/components/SystemInfo.vue";

export default {
  name: "system-info",
  components: {
    SystemInfo
  }
};
</script>
