<template>
  <v-container>
    <v-row text-center wrap>
      <v-col cols="12" sm="12" class="d-flex justify-space-between">
        <h1>Actueel</h1>
        <v-btn
          color="orange"
          class="ma-2 white--text"
          :disabled="isLoading"
          @click="refresh"
        >
          Vernieuw
          <v-icon right>mdi-refresh</v-icon>
        </v-btn>
      </v-col>
      <v-col cols="12" sm="12" md="6">
        <v-row>
          <v-col cols="12" sm="12">
            <h2>Overzicht</h2>
            <v-card
              class="mb-4"
              elevation="4"
              :loading="isLoading"
              v-for="(blocks, index) in information"
              :key="index"
            >
              <v-card-title>
                <h4>{{ getHeaderTitle(index) }}</h4>
              </v-card-title>
              <v-divider></v-divider>
              <v-list dense>
                <v-list-item v-for="(block, index) in blocks" :key="index">
                  <v-list-item-content style="font-weight: bold;"
                    >{{ block.title }}:</v-list-item-content
                  >
                  <v-list-item-content class="align-end">{{
                    block.value
                  }}</v-list-item-content>
                </v-list-item>
              </v-list>
            </v-card>
          </v-col>
        </v-row>
      </v-col>
      <v-col cols="12" sm="12" md="6">
        <v-row>
          <v-col cols="12" sm="12">
            <h2>Fasen</h2>
            <v-card
              class="mb-4"
              elevation="4"
              :loading="isLoading"
              v-for="(blocks, index) in phases"
              :key="index"
            >
              <v-card-title>
                <h4>{{ getHeaderTitle(index) }}</h4>
              </v-card-title>
              <v-divider></v-divider>
              <v-list dense>
                <v-list-item v-for="(block, index) in blocks" :key="index">
                  <v-list-item-content style="font-weight: bold;"
                    >{{ block.title }}:</v-list-item-content
                  >
                  <v-list-item-content class="align-end">{{
                    block.value
                  }}</v-list-item-content>
                </v-list-item>
              </v-list>
            </v-card>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { mapState } from "vuex";

export default {
  data: () => ({
    headers: [
      { text: "Samenvatting", value: "summary" },
      { text: "Tarieven", value: "tariffs" },
      { text: "Huidige waardes (alle fasen)", value: "currentValues" },
      { text: "Piek vandaag (alle fasen)", value: "maxValuesToday" },
      { text: "Huidige waardes (fase L1)", value: "line1" },
      { text: "Huidige waardes (fase L2)", value: "line2" },
      { text: "Huidige waardes (fase L3)", value: "line3" }
    ],
    information: {
      summary: {
        energyDelivery: {
          title: "Energie verbruikt (kWh)",
          value: "-"
        },
        energyReturn: {
          title: "Energie teruggeleverd (kWh)",
          value: "-"
        },
        gasDelivery: {
          title: "Gas verbruikt (m3)",
          value: "-"
        },
        timeStamp: {
          title: "Tijdstempel",
          value: "-"
        },
        electricityTariff: {
          title: "Huidig tarief",
          value: "-"
        }
      },
      tariffs: {
        energyDeliveryT1: {
          title: "Verbruik T1 (kWh)",
          value: "-"
        },
        energyDeliveryT2: {
          title: "Verbruik T2 (kWh)",
          value: "-"
        },
        energyReturnT1: {
          title: "Levering T1 (kWh)",
          value: "-"
        },
        energyReturnT2: {
          title: "Levering T2 (kWh)",
          value: "-"
        }
      },
      currentValues: {
        powerDelivered: {
          title: "Verbruik (kW)",
          value: "-"
        },
        powerReturned: {
          title: "Levering (kW)",
          value: "-"
        }
      },
      maxValuesToday: {
        maxPowerDelivered: {
          title: "Verbruikt (kW)",
          value: "-"
        },
        maxPowerReturned: {
          title: "Geleverd (kW)",
          value: "-"
        }
      }
    },
    phases: {
      line1: {
        powerDelivered: {
          title: "Verbruik (Watt)",
          value: "-"
        },
        powerReturned: {
          title: "Levering (Watt)",
          value: "-"
        },
        voltage: {
          title: "Voltage",
          value: "-"
        },
        current: {
          title: "Stroom",
          value: "-"
        }
      },
      line2: {
        powerDelivered: {
          title: "Verbruik (Watt)",
          value: "-"
        },
        powerReturned: {
          title: "Levering (Watt)",
          value: "-"
        },
        voltage: {
          title: "Voltage",
          value: "-"
        },
        current: {
          title: "Stroom",
          value: "-"
        }
      },
      line3: {
        powerDelivered: {
          title: "Verbruik (Watt)",
          value: "-"
        },
        powerReturned: {
          title: "Levering (Watt)",
          value: "-"
        },
        voltage: {
          title: "Voltage",
          value: "-"
        },
        current: {
          title: "Stroom",
          value: "-"
        }
      }
    },
    isLoading: true,
    intervalTab: null
  }),
  computed: mapState({
    message: state => state.socket.message.data,
    isConnected: state => state.socket.isConnected
  }),
  watch: {
    message(newValue) {
      // A message consists of data split by a comma, for example:
      // msgType=PerHoursHeaders,R=25,DH=(31) 00,H=(31) 00:00 - 00:59,ED=381,ER=0,GD=0.27,COSTS=0.27
      const singlePairs = newValue.split(",");
      const msgType = singlePairs[0].split("=")[1];
      if (msgType == "Actual") {
        for (var i = 1; i < singlePairs.length; i++) {
          let onePair = singlePairs[i].split("=");
          switch (onePair[0].trim()) {
            // Samenvatting.
            case "ET":
              this.information.summary.electricityTariff.value = onePair[1].trim();
              break;
            case "ED":
              this.information.summary.energyDelivery.value = onePair[1].trim();
              break;
            case "ER":
              this.information.summary.energyReturn.value = onePair[1].trim();
              break;
            case "GD":
              this.information.summary.gasDelivery.value = onePair[1].trim();
              break;
            case "TS":
              this.information.summary.timeStamp.value = this.buildDateTimeString(
                onePair[1].trim()
              );
              break;
            // Tarieven.
            case "EDT1":
              this.information.tariffs.energyDeliveryT1.value = onePair[1].trim();
              break;
            case "EDT2":
              this.information.tariffs.energyDeliveryT2.value = onePair[1].trim();
              break;
            case "ERT1":
              this.information.tariffs.energyReturnT1.value = onePair[1].trim();
              break;
            case "ERT2":
              this.information.tariffs.energyReturnT2.value = onePair[1].trim();
              break;
            // Huidige waardes (alle fasen).
            case "PD":
              this.information.currentValues.powerDelivered.value = onePair[1].trim();
              break;
            case "PR":
              this.information.currentValues.powerReturned.value = onePair[1].trim();
              break;
            // Piek vandaag (alle fasen).
            case "MPD":
              this.information.maxValuesToday.maxPowerDelivered.value = onePair[1].trim();
              break;
            case "MPR":
              this.information.maxValuesToday.maxPowerReturned.value = onePair[1]
                .trim()
                .replace(/ +@\s*$/, "");
              break;
            // Fase lijn 1.
            case "PD_l1":
              this.phases.line1.powerDelivered.value = onePair[1].trim();
              break;
            case "PR_l1":
              this.phases.line1.powerReturned.value = onePair[1].trim();
              break;
            case "V_l1":
              this.phases.line1.voltage.value = onePair[1].trim();
              break;
            case "C_l1":
              this.phases.line1.current.value = onePair[1].trim();
              break;
            // Fase lijn 2.
            case "PD_l2":
              this.phases.line2.powerDelivered.value = onePair[1].trim();
              break;
            case "PR_l2":
              this.phases.line2.powerReturned.value = onePair[1].trim();
              break;
            case "V_l2":
              this.phases.line2.voltage.value = onePair[1].trim();
              break;
            case "C_l2":
              this.phases.line2.current.value = onePair[1].trim();
              break;
            // Fase lijn 3.
            case "PD_l3":
              this.phases.line3.powerDelivered.value = onePair[1].trim();
              break;
            case "PR_l3":
              this.phases.line3.powerReturned.value = onePair[1].trim();
              break;
            case "V_l3":
              this.phases.line3.voltage.value = onePair[1].trim();
              break;
            case "C_l3":
              this.phases.line3.current.value = onePair[1].trim();
              break;
          }
        }
        this.isLoading = false;
      }
    }
  },
  created() {
    let unsubscribe = this.$store.subscribe((mutation, state) => {
      if (state.socket.isConnected) {
        // Send request.
        this.$store.dispatch("sendMessage", "tabActual");
        // Set interval for request.
        this.intervalTab = setInterval(() => {
          this.$store.dispatch("sendMessage", "tabActual");
        }, 10000);

        unsubscribe();
      }
    });
  },
  beforeRouteEnter(to, from, next) {
    next(vm => {
      clearInterval(vm.data.intervalTab);
    });
  },
  beforeRouteLeave(to, from, next) {
    next(vm => {
      clearInterval(vm.data.intervalTab);
    });
  },
  methods: {
    refresh: function() {
      this.isLoading = true;
      this.$store.dispatch("sendMessage", "tabActual");
    },
    getHeaderTitle: function(value) {
      return this.headers.find(v => v["value"] === value).text;
    },
    buildDateTimeString(timeStamp) {
      let dateTime = "";
      dateTime = timeStamp.substr(4, 2);
      dateTime += "-" + timeStamp.substr(2, 2);
      dateTime += "-20" + timeStamp.substr(0, 2);
      dateTime += " " + timeStamp.substr(6, 2);
      dateTime += ":" + timeStamp.substr(8, 2);
      dateTime += ":" + timeStamp.substr(10, 2);
      return dateTime;
    }
  }
};
</script>
