<template>
  <v-container>
    <v-row text-center wrap>
      <v-col cols="12" sm="12" class="d-flex justify-space-between">
        <h1>Grafieken</h1>
        <v-btn
          color="orange"
          class="ma-2 white--text"
          :disabled="isLoading"
          @click="refresh"
        >
          Vernieuw
          <v-icon right>mdi-refresh</v-icon>
        </v-btn>
      </v-col>
      <v-col cols="12" sm="12">
        <v-card class="mb-4" elevation="4" :loading="isLoading">
          <v-card-text>
            <v-row wrap>
              <v-col cols="12" sm="12" lg="6" class="py-2">
                <p>Data</p>
                <v-btn-toggle
                  v-model="chart"
                  mandatory
                  class="flex-column flex-sm-row"
                >
                  <v-btn value="actual">
                    Actueel
                    <v-icon small right>mdi-clock-outline</v-icon>
                  </v-btn>
                  <v-btn value="financial">
                    Financieel
                    <v-icon small right>mdi-currency-eur</v-icon>
                  </v-btn>
                  <v-btn value="day">
                    Dag
                    <v-icon small right>mdi-calendar-today</v-icon>
                  </v-btn>
                  <v-btn value="week">
                    Week
                    <v-icon small right>mdi-calendar-month</v-icon>
                  </v-btn>
                  <v-btn value="year">
                    Jaar
                    <v-icon small right>mdi-calendar-multiple</v-icon>
                  </v-btn>
                </v-btn-toggle>
              </v-col>
              <v-col cols="12" sm="12" lg="6" class="py-2">
                <p>Type</p>
                <v-btn-toggle v-model="chartType" mandatory>
                  <v-btn value="bar">
                    Bar
                    <v-icon small right>mdi-chart-bar</v-icon>
                  </v-btn>
                  <v-btn value="line">
                    Line
                    <v-icon small right>mdi-chart-line</v-icon>
                  </v-btn>
                </v-btn-toggle>
              </v-col>
              <v-col cols="12" sm="12" class="py-2">
                <line-chart
                  v-if="
                    !isLoading &&
                      chartType === 'line' &&
                      dynamicChartData.datasets.length
                  "
                  :chartData="dynamicChartData"
                  :options="dynamicChartOptions"
                  ref="lineChart"
                />
                <bar-chart
                  v-if="
                    !isLoading &&
                      chartType === 'bar' &&
                      dynamicChartData.datasets.length
                  "
                  :chartData="dynamicChartData"
                  :options="dynamicChartOptions"
                  ref="barChart"
                />
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { mapState } from "vuex";
import BarChart from "./BarChart.vue";
import LineChart from "./LineChart.vue";
import colors from "vuetify/lib/util/colors";

export default {
  name: "ChartContainer",
  components: { BarChart, LineChart },
  data: () => ({
    chart: "actual",
    chartType: "bar",
    isLoading: true,
    intervalTab: null,
    Labels: [],
    Delivered: [],
    Returned: [],
    Gas: [],
    Delivered2: [],
    Returned2: [],
    Gas2: [],
    DeliveredL1: [],
    DeliveredL2: [],
    DeliveredL3: []
  }),
  computed: {
    dynamicChartData() {
      let settingBackEDC = "red";
      let settingLineEDC = "red";
      let settingBackERC = "green";
      let settingLineERC = "green";
      let settingBackGDC = "blue";
      let settingLineGDC = "blue";
      let settingBackED2C = "tomato";
      let settingLineED2C = "tomato";
      let settingBackER2C = "lightgreen";
      let settingLineER2C = "lightgreen";
      let settingBackGD2C = "lightblue";
      let settingLineGD2C = "lightblue";
      let settingBackPR123C = "green";
      let settingLinePR123C = "black";
      let settingBackPD1C = "yellow";
      let settingLinePD1C = "black";
      let settingBackPD2C = "lightgreen";
      let settingLinePD2C = "black";
      let settingBackPD3C = "lime";
      let settingLinePD3C = "black";

      let chartdata = {
        labels: [],
        datasets: []
      };
      if (this.chart === "actual") {
        chartdata = {
          labels: this.Labels,
          datasets: [
            {
              label: "Teruglevering (L1+L2+L3)",
              stack: "L123",
              data: this.Returned,
              fill: false,
              borderColor: settingLinePR123C,
              backgroundColor: settingBackPR123C,
              borderWidth: 2
            },
            {
              label: "Verbruik (L1)",
              stack: "L123",
              data: this.DeliveredL1,
              fill: false,
              borderColor: settingLinePD1C,
              backgroundColor: settingBackPD1C,
              borderWidth: 2
            },
            {
              label: "Verbruik (L2)",
              stack: "L123",
              data: this.DeliveredL2,
              fill: false,
              borderColor: settingLinePD2C,
              backgroundColor: settingBackPD2C,
              borderWidth: 2
            },
            {
              label: "Verbruik (L3)",
              stack: "L123",
              data: this.DeliveredL3,
              fill: false,
              borderColor: settingLinePD3C,
              backgroundColor: settingBackPD3C,
              borderWidth: 2
            }
          ]
        };
      } else if (this.chart === "financial") {
        chartdata = {
          labels: this.Labels,
          datasets: [
            {
              label: "Verbruik deze periode",
              stack: "ThisYear",
              data: this.Delivered,
              fill: false,
              backgroundColor: settingBackEDC,
              borderColor: settingLineEDC,
              borderWidth: 2
            },
            {
              label: "Teruglevering deze periode",
              stack: "ThisYear",
              data: this.Returned,
              fill: false,
              backgroundColor: settingBackERC,
              borderColor: settingLineERC,
              borderWidth: 2
            },
            {
              label: "Gasverbruik deze periode",
              stack: "ThisYear",
              data: this.Gas,
              fill: false,
              backgroundColor: settingBackGDC,
              borderColor: settingLineGDC,
              borderWidth: 2
            },
            {
              label: "Verbruik vorige periode",
              stack: "LastYear",
              data: this.Delivered2,
              fill: false,
              backgroundColor: settingBackED2C,
              borderColor: settingLineED2C,
              borderWidth: 2
            },
            {
              label: "Teruglevering vorige periode",
              stack: "LastYear",
              data: this.Returned2,
              fill: false,
              backgroundColor: settingBackER2C,
              borderColor: settingLineER2C,
              borderWidth: 2
            },
            {
              label: "Gasverbruik vorige periode",
              stack: "LastYear",
              data: this.Gas2,
              fill: false,
              backgroundColor: settingBackGD2C,
              borderColor: settingLineGD2C,
              borderWidth: 2
            }
          ]
        };
      } else if (this.chart === "day" || this.chart === "week") {
        chartdata = {
          labels: this.Labels,
          datasets: [
            {
              label: "Verbruik",
              stack: "Electricity",
              data: this.Delivered,
              fill: false,
              backgroundColor: settingBackEDC,
              borderColor: settingLineEDC,
              borderWidth: 2
            },
            {
              label: "Teruglevering",
              stack: "Electricity",
              data: this.Returned,
              fill: false,
              backgroundColor: settingBackERC,
              borderColor: settingLineERC,
              borderWidth: 2
            }
          ]
        };
      } else if (this.chart === "year") {
        chartdata = {
          labels: this.Labels,
          datasets: [
            {
              label: "Verbruik deze periode",
              stack: "thisYear",
              data: this.Delivered,
              fill: false,
              borderColor: settingLineEDC,
              backgroundColor: settingBackEDC,
              borderWidth: 2
            },
            {
              label: "Teruglevering deze periode",
              stack: "thisYear",
              data: this.Returned,
              fill: false,
              borderColor: settingLineERC,
              backgroundColor: settingBackERC,
              borderWidth: 2
            },
            {
              label: "Verbruik vorige periode",
              stack: "lastYear",
              data: this.Delivered2,
              fill: false,
              borderColor: settingLineED2C,
              backgroundColor: settingBackED2C,
              borderWidth: 2
            },
            {
              label: "Teruglevering vorige periode",
              stack: "lastYear",
              data: this.Returned2,
              fill: false,
              borderColor: settingLineER2C,
              backgroundColor: settingBackER2C,
              borderWidth: 2
            }
          ]
        };
      }
      return chartdata;
    },
    dynamicChartOptions() {
      let labelString = "Watt";
      switch (this.chart) {
        case "day":
          labelString = "Watt/uur";
          break;
        case "week":
          labelString = "kWh";
          break;
        case "year":
          labelString = "kWh";
          break;
        case "financial":
          labelString = "in Euro's";
          break;
      }

      const textColor = this.$vuetify.theme.dark
        ? colors.grey.lighten4
        : colors.grey.darken4;

      let options = {
        responsive: true,
        maintainAspectRatio: false,
        legend: {
          labels: {
            fontColor: textColor
          }
        },
        tooltips: {
          mode: "index"
        },
        scales: {
          xAxes: [
            {
              ticks: {
                fontColor: textColor
              }
            }
          ],
          yAxes: [
            {
              ticks: {
                fontColor: textColor
              },
              scaleLabel: {
                display: true,
                fontColor: textColor,
                labelString: labelString
              }
            }
          ]
        }
      };

      if (this.chart === "financial") {
        return {
          ...options,
          tooltips: {
            mode: "index",
            callbacks: {
              // Use the footer callback to display the sum of the items showing in the tooltip
              footer: function(tooltipItems, data) {
                var sumTy = 0;
                var sumPy = 0;
                tooltipItems.forEach(function(tooltipItem) {
                  //console.log(tooltipItem.datasetIndex);
                  if (
                    tooltipItem.datasetIndex == 0 ||
                    tooltipItem.datasetIndex == 1 ||
                    tooltipItem.datasetIndex == 2
                  ) {
                    sumTy += parseFloat(
                      data.datasets[tooltipItem.datasetIndex].data[
                        tooltipItem.index
                      ]
                    );
                  } else {
                    sumPy += parseFloat(
                      data.datasets[tooltipItem.datasetIndex].data[
                        tooltipItem.index
                      ]
                    );
                  }
                });
                return (
                  "Dit jaar € " +
                  parseFloat(sumTy).toFixed(2) +
                  ", vorig jaar € " +
                  parseFloat(sumPy).toFixed(2)
                );
              }
            },
            footerFontStyle: "normal"
          }
        };
      }

      return options;
    },
    ...mapState({
      message: state => state.socket.message.data,
      isConnected: state => state.socket.isConnected
    })
  },
  watch: {
    chart() {
      clearInterval(this.intervalTab);
      this.clearVariables(this);
      this.graphStart(this.chart);
    },
    chartType() {},
    dynamicChartOptions() {
      this.$refs[
        this.chartType === "line" ? "lineChart" : "barChart"
      ]?.$data._chart.update();
    },
    message(newValue) {
      // A message consists of data split by a comma, for example:
      // msgType=PerHoursHeaders,R=50,DH=(31) 00,H=(31) 00:00 - 00:59,ED=381,ER=0,GD=0.27,COSTS=0.27
      const singlePairs = newValue.split(",");
      const msgType = singlePairs[0].split("=")[1];
      console.log("new", newValue);
      if (msgType == "graphRow") {
        this.graphRow(newValue);
      }
      this.isLoading = false;
    }
  },
  created() {
    let unsubscribe = this.$store.subscribe((mutation, state) => {
      if (state.socket.isConnected) {
        // Send request.
        this.$store.dispatch("sendMessage", "graphActualNext");
        // Set interval for request.
        this.intervalTab = setInterval(() => {
          console.error("created");
          this.$store.dispatch("sendMessage", "graphActualNext");
        }, 9900);

        unsubscribe();
      }
    });
  },
  beforeRouteEnter(to, from, next) {
    next(vm => {
      clearInterval(vm.data.intervalTab);
      vm.clearVariables(vm.data);
    });
  },
  beforeRouteLeave(to, from, next) {
    next(vm => {
      clearInterval(vm.data.intervalTab);
      vm.clearVariables(vm.data);
    });
  },
  methods: {
    refresh: function() {
      clearInterval(this.intervalTab);
      this.clearVariables(this);
      this.graphStart(this.chart);
    },
    graphRow(payload) {
      const singlePairs = payload.split(",");
      const rowNumberPair = singlePairs[1].split("=");

      if (parseInt(rowNumberPair[1]) == 1) {
        this.clearVariables(this);
      }

      var nextRowNumber = 1;
      if (parseInt(rowNumberPair[1]) == 99) {
        nextRowNumber = 1;
      } else {
        nextRowNumber = parseInt(rowNumberPair[1]); // - 1;
      }

      let doUnshift = true;

      for (var i = 0; i < singlePairs.length; i++) {
        var Data = singlePairs[i].split("=");

        // Skip this message if we have processed it already.
        if (Data[0] == "T" && this.Labels[this.Labels.length - 1] === Data[1]) {
          continue;
        }

        if (Data[0] == "A") doUnshift = false;

        if (
          Data[0] == "M" ||
          Data[0] == "D" ||
          Data[0] == "DH" ||
          Data[0] == "T"
        ) {
          //---> if (Data[0] == "M" || Data[0] == "D" || Data[0] == "H" || Data[0] == "T") {
          if (doUnshift) this.Labels.unshift(Data[1]);
          else this.Labels.push(Data[1]);
        } else if (Data[0] == "ED1" || Data[0] == "ED" || Data[0] == "ED1C") {
          if (doUnshift) this.Delivered.unshift(Data[1]);
          else this.Delivered.push(Data[1]);
        } else if (Data[0] == "ER1" || Data[0] == "ER" || Data[0] == "ER1C") {
          if (doUnshift) this.Returned.unshift(Data[1] * -1);
          else this.Returned.push(Data[1] * -1);
        } else if (Data[0] == "ED2" || Data[0] == "ED2C") {
          if (doUnshift) this.Delivered2.unshift(Data[1]);
          else this.Delivered2.push(Data[1]);
        } else if (Data[0] == "ER2" || Data[0] == "ER2C") {
          if (doUnshift) this.Returned2.unshift(Data[1] * -1);
          else this.Returned2.push(Data[1] * -1);
        } else if (Data[0] == "EDL1") {
          this.DeliveredL1.push(Data[1]);
        } else if (Data[0] == "EDL2") {
          this.DeliveredL2.push(Data[1]);
        } else if (Data[0] == "EDL3") {
          this.DeliveredL3.push(Data[1]);
        } else if (Data[0] == "GD1C") {
          if (doUnshift) this.Gas.unshift(Data[1]);
          else this.Gas.push(Data[1]);
        } else if (Data[0] == "GD2C") {
          if (doUnshift) this.Gas2.unshift(Data[1]);
          else this.Gas2.push(Data[1]);
        }
      } // for ..

      if (this.Labels.length > 50) {
        if (doUnshift) {
          this.Labels.length = 50;
          this.Delivered.length = 50;
          this.Returned.length = 50;
          this.Gas.length = 50;
        } else {
          this.Labels.shift();
          this.Delivered.shift();
          this.Returned.shift();
          this.Gas.shift();
          this.DeliveredL1.shift();
          this.DeliveredL2.shift();
          this.DeliveredL3.shift();
        }
      }

      this.$refs[
        this.chartType === "line" ? "lineChart" : "barChart"
      ]?.$data._chart.update();

      if (parseInt(rowNumberPair[1]) != 99) {
        //nextRowNumber = parseInt(rowNumberPair[1]) + 1;
        //console.log("rowNumberPair["+rowNumberPair[1]+"] ===> nextRowNumber["+nextRowNumber+"]");
        if (this.chart == "year") {
          nextRowNumber = parseInt(rowNumberPair[1]) + 1;
          console.log("graphYearRow?r=" + nextRowNumber);
          // Send a request for the next available row.
          this.$store.dispatch(
            "sendMessage",
            `graphYearRow?r=${nextRowNumber}`
          );
        } else if (this.chart == "week") {
          nextRowNumber = parseInt(rowNumberPair[1]) + 1;
          console.log("graphWeekRow?r=" + nextRowNumber);
          // Send a request for the next available row.
          this.$store.dispatch(
            "sendMessage",
            `graphWeekRow?r=${nextRowNumber}`
          );
        } else if (this.chart == "day") {
          nextRowNumber = parseInt(rowNumberPair[1]) + 1;
          console.log("graphDayRow?r=" + nextRowNumber);
          // Send a request for the next available row.
          this.$store.dispatch("sendMessage", `graphDayRow?r=${nextRowNumber}`);
        } else if (this.chart == "actual") {
          nextRowNumber = parseInt(rowNumberPair[1]) + 1;
          console.log("graphActualNext");
        } else if (this.chart == "financial") {
          nextRowNumber = parseInt(rowNumberPair[1]) + 1;
          console.log("graphFinancialRow?r=" + nextRowNumber);
          // Send a request for the next available row.
          this.$store.dispatch(
            "sendMessage",
            `graphFinancialRow?r=${nextRowNumber}`
          );
        }
      }
    },
    graphStart(graphType) {
      if (graphType == "year") {
        console.error("graphStart: graphYearRow,r=1");
        this.$store.dispatch("sendMessage", "graphYearRow,r=1");
        this.intervalTab = setInterval(() => {
          console.error("year interval");
          this.$store.dispatch("sendMessage", "tabGraphics");
        }, 120000);
      } else if (graphType == "week") {
        console.error("graphStart: graphWeekRow,r=1");
        this.$store.dispatch("sendMessage", "graphWeekRow,r=1");
        this.intervalTab = setInterval(() => {
          console.error("week interval");
          this.$store.dispatch("sendMessage", "tabGraphics");
        }, 120000);
      } else if (graphType == "day") {
        console.error("graphStart: graphDayRow,r=1");
        this.$store.dispatch("sendMessage", "graphDayRow,r=1");
        this.intervalTab = setInterval(() => {
          console.error("day interval");
          this.$store.dispatch("sendMessage", "tabGraphics");
        }, 120000);
      } else if (graphType == "actual") {
        console.error("graphStart: graphActualNext");
        this.$store.dispatch("sendMessage", "graphActualNext");
        this.intervalTab = setInterval(() => {
          console.error("actual interval");
          this.$store.dispatch("sendMessage", "graphActualNext");
        }, 9900);
      } else if (graphType == "financial") {
        console.error("graphStart: graphFinancialRow");
        this.$store.dispatch("sendMessage", "graphFinancialRow,r=1");
        this.intervalTab = setInterval(() => {
          console.error("financial interval");
          this.$store.dispatch("sendMessage", "tabGraphics");
        }, 120000);
      }
    },
    clearVariables(instance) {
      instance.Labels = [];
      instance.Delivered = [];
      instance.Returned = [];
      instance.Gas = [];
      instance.Delivered2 = [];
      instance.Returned2 = [];
      instance.Gas2 = [];
      instance.DeliveredL1 = [];
      instance.DeliveredL2 = [];
      instance.DeliveredL3 = [];
    },
    buildDateTimeString(timeStamp) {
      let dateTime = "";
      dateTime = timeStamp.substr(4, 2);
      dateTime += "-" + timeStamp.substr(2, 2);
      dateTime += "-20" + timeStamp.substr(0, 2);
      dateTime += " " + timeStamp.substr(6, 2);
      dateTime += ":" + timeStamp.substr(8, 2);
      dateTime += ":" + timeStamp.substr(10, 2);
      return dateTime;
    }
  }
};
</script>
