<template>
  <v-dialog v-model="isClosed" persistent max-width="500">
    <v-card>
      <v-card-title class="headline">Verbinding verbroken</v-card-title>
      <v-card-text
        >De verbinding met JDJ P1 Logger is verbroken. Probeer opnieuw te
        verbinden of bezoek deze website later opnieuw.</v-card-text
      >
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="darken-1" text @click="reloadPage">
          Opnieuw verbinden
          <v-icon right>mdi-refresh</v-icon>
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { mapState } from "vuex";

export default {
  data: () => ({
    isClosed: false
  }),
  computed: mapState({
    isConnected: state => state.socket.isConnected
  }),
  watch: {
    isConnected(newValue) {
      this.isClosed = !newValue;
    }
  },
  methods: {
    reloadPage() {
      window.location.href = "/";
    }
  }
};
</script>
