<template>
  <v-container>
    <v-row text-center wrap>
      <v-col cols="12" sm="12" class="d-flex justify-space-between">
        <h1>Laatste 24 uur</h1>
        <v-btn
          color="orange"
          class="ma-2 white--text"
          :disabled="loading"
          @click="refresh"
        >
          Vernieuw
          <v-icon right>mdi-refresh</v-icon>
        </v-btn>
      </v-col>
      <v-col cols="12" sm="12">
        <v-data-table
          hide-default-footer
          :loading="loading"
          loading-text="Aan het laden... Even geduld a.u.b."
          :items-per-page="-1"
          :headers="headers"
          :items="perHours"
          item-key="hour"
          class="elevation-1"
        ></v-data-table>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { mapState } from "vuex";

export default {
  data: () => ({
    hoursMaxRows: null,
    perHours: [],
    headers: [
      { text: "Uur (van-tot)", value: "hour" },
      { text: "Energieverbruik (Wh)", value: "energyConsumption" },
      { text: "Energieteruglevering (Wh)", value: "energyReturn" },
      { text: "Gasverbruik (m3)", value: "gasConsumption" },
      { text: "Kosten in euro's", value: "costs" }
    ],
    loading: true
  }),
  computed: mapState({
    message: state => state.socket.message.data,
    isConnected: state => state.socket.isConnected
  }),
  watch: {
    message(newValue) {
      // A message consists of data split by a comma, for example:
      // msgType=perHoursHeaders,R=25,DH=(31) 00,H=(31) 00:00 - 00:59,ED=381,ER=0,GD=0.27,COSTS=0.27
      const singlePairs = newValue.split(",");
      const msgType = singlePairs[0].split("=")[1];
      if (msgType == "lastHoursHeaders") {
        const onePair = singlePairs[1].split("=");
        this.update24HoursHeaders(onePair[1]);
      } else if (msgType == "lastHoursRow") {
        this.update24HoursTable(newValue);
      }
    }
  },
  created() {
    let unsubscribe = this.$store.subscribe((mutation, state) => {
      if (state.socket.isConnected) {
        this.$store.dispatch("sendMessage", "tabLastHours");
        unsubscribe();
      }
    });
  },
  methods: {
    refresh: function() {
      this.$store.dispatch("sendMessage", "tabLastHours");
    },
    update24HoursHeaders: function(numRows) {
      // Set the amount of hour rows.
      this.hoursMaxRows = numRows;
      // Send a request for the first hour row.
      this.$store.dispatch("sendMessage", "lastHoursRow,r=1");
    },
    update24HoursTable: function(payload) {
      const singlePairs = payload.split(",");
      const rowNumberPair = singlePairs[1].split("=");

      // Empty the array with rows if the request starts with 1.
      if (parseInt(rowNumberPair[1]) == 1) {
        this.perHours = [];
      }

      let rowData = {};
      for (var i = 0; i < singlePairs.length; i++) {
        const socketData = singlePairs[i].split("=");

        if (socketData[0] == "H") {
          // Hour.
          rowData["hour"] = socketData[1];
        } else if (socketData[0] == "ED") {
          // Energy consumption.
          rowData["energyConsumption"] = socketData[1];
        } else if (socketData[0] == "ER") {
          // Energy return.
          rowData["energyReturn"] = socketData[1];
        } else if (socketData[0] == "GD") {
          // Gas consumption.
          rowData["gasConsumption"] = socketData[1];
        } else if (socketData[0] == "COSTS") {
          // Costs in euros.
          rowData["costs"] = `€${socketData[1]}`;
        }
      }
      this.perHours.push(rowData);

      const rowNumber = parseInt(rowNumberPair[1]);
      if (rowNumber !== 99) {
        const nextRowNumber = rowNumber + 1;
        if (nextRowNumber > 0 && nextRowNumber < this.hoursMaxRows) {
          // Send a request for the next available row.
          this.$store.dispatch(
            "sendMessage",
            `lastHoursRow?r=${nextRowNumber}`
          );
        } else {
          this.loading = false;
        }
      }
    }
  }
};
</script>
