<template>
  <v-container>
    <v-row text-center wrap>
      <v-col cols="12" sm="12" class="d-flex justify-space-between">
        <h1>Laatste maanden</h1>
        <v-btn
          color="orange"
          class="ma-2 white--text"
          :disabled="loading"
          @click="refresh"
        >
          Vernieuw
          <v-icon right>mdi-refresh</v-icon>
        </v-btn>
      </v-col>
      <v-col cols="12" sm="6">
        <v-data-table
          hide-default-footer
          :loading="loading"
          loading-text="Aan het laden... Even geduld a.u.b."
          :items-per-page="-1"
          :headers="energyConsumptionHeaders"
          :items="indexedEnergyConsumption"
          item-key="id"
          class="elevation-1"
        >
          <template v-slot:top>
            <v-toolbar flat>
              <v-toolbar-title>Energieverbruik</v-toolbar-title>
            </v-toolbar>
          </template>
        </v-data-table>
      </v-col>
      <v-col cols="12" sm="6">
        <v-data-table
          hide-default-footer
          :loading="loading"
          loading-text="Aan het laden... Even geduld a.u.b."
          :items-per-page="-1"
          :headers="energyReturnHeaders"
          :items="indexedEnergyReturn"
          item-key="id"
          class="elevation-1"
        >
          <template v-slot:top>
            <v-toolbar flat>
              <v-toolbar-title>Energieteruglevering</v-toolbar-title>
            </v-toolbar>
          </template>
        </v-data-table>
      </v-col>
      <v-col cols="12" sm="6">
        <v-data-table
          hide-default-footer
          :loading="loading"
          loading-text="Aan het laden... Even geduld a.u.b."
          :items-per-page="-1"
          :headers="gasConsumptionHeaders"
          :items="indexedGasConsumption"
          item-key="id"
          class="elevation-1"
        >
          <template v-slot:top>
            <v-toolbar flat>
              <v-toolbar-title>Gasverbruik</v-toolbar-title>
            </v-toolbar>
          </template>
        </v-data-table>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { mapState } from "vuex";

export default {
  data: () => ({
    monthsMaxRows: null,
    energyConsumptionHeaders: [
      { text: "Maand", value: "month" },
      { text: "Jaar", value: "year1" },
      { text: "Energieverbruik (Wh)", value: "energyConsumption1" },
      { text: "Jaar", value: "year2" },
      { text: "Energieverbruik (Wh)", value: "energyConsumption2" }
    ],
    energyConsumption: [],
    energyReturnHeaders: [
      { text: "Maand", value: "month" },
      { text: "Jaar", value: "year1" },
      { text: "Energieteruglevering (Wh)", value: "energyReturn1" },
      { text: "Jaar", value: "year2" },
      { text: "Energieteruglevering (Wh)", value: "energyReturn2" }
    ],
    energyReturn: [],
    gasConsumptionHeaders: [
      { text: "Maand", value: "month" },
      { text: "Jaar", value: "year1" },
      { text: "Gasverbruik (m3)", value: "gasConsumption1" },
      { text: "Jaar", value: "year2" },
      { text: "Gasverbruik (m3)", value: "gasConsumption2" }
    ],
    gasConsumption: [],
    loading: true
  }),
  computed: {
    indexedEnergyConsumption() {
      return this.energyConsumption.map((item, index) => ({
        id: index,
        ...item
      }));
    },
    indexedEnergyReturn() {
      return this.energyReturn.map((item, index) => ({
        id: index,
        ...item
      }));
    },
    indexedGasConsumption() {
      return this.gasConsumption.map((item, index) => ({
        id: index,
        ...item
      }));
    },
    ...mapState({
      message: state => state.socket.message.data,
      isConnected: state => state.socket.isConnected
    })
  },
  watch: {
    message(newValue) {
      // A message consists of data split by a comma, for example:
      // msgType=lastMonthsHeaders,R=25,DH=(31) 00,H=(31) 00:00 - 00:59,ED=381,ER=0,GD=0.27,COSTS=0.27
      const singlePairs = newValue.split(",");
      const msgType = singlePairs[0].split("=")[1];
      if (msgType == "lastMonthsHeaders") {
        const onePair = singlePairs[1].split("=");
        this.updateMonthHeaders(onePair[1]);
      } else if (msgType == "lastMonthsRow") {
        this.updateMonthTable(newValue);
      }
    }
  },
  created() {
    let unsubscribe = this.$store.subscribe((mutation, state) => {
      if (state.socket.isConnected) {
        this.$store.dispatch("sendMessage", "tabLastMonths");
        unsubscribe();
      }
    });
  },
  methods: {
    refresh: function() {
      this.$store.dispatch("sendMessage", "tabLastMonths");
    },
    updateMonthHeaders: function(numRows) {
      // Set the amount of hour rows.
      this.monthsMaxRows = numRows;
      // Send a request for the first hour row.
      this.$store.dispatch("sendMessage", "lastMonthsRow,r=1");
    },
    updateMonthTable: function(payload) {
      const singlePairs = payload.split(",");
      const rowNumberPair = singlePairs[1].split("=");

      // Empty the array with rows if the request starts with 1.
      if (parseInt(rowNumberPair[1]) == 1) {
        this.energyConsumption = [];
      }

      const rowNumber = parseInt(rowNumberPair[1]);
      let nextRowNumber = 0;

      let energyConsumptionData = {};
      let energyReturnData = {};
      let gasConsumptionData = {};
      for (var i = 0; i < singlePairs.length; i++) {
        const socketData = singlePairs[i].split("=");

        if (socketData[0] == "M") {
          // Month.
          energyConsumptionData["month"] = socketData[1];
          energyReturnData["month"] = socketData[1];
          gasConsumptionData["month"] = socketData[1];
        } else if (socketData[0] == "Y1") {
          // First year.
          energyConsumptionData["year1"] = socketData[1];
          energyReturnData["year1"] = socketData[1];
          gasConsumptionData["year1"] = socketData[1];
        } else if (socketData[0] == "Y2") {
          // Second year.
          energyConsumptionData["year2"] = socketData[1];
          energyReturnData["year2"] = socketData[1];
          gasConsumptionData["year2"] = socketData[1];
        } else if (socketData[0] == "ED1") {
          // Energy consumption 1.
          energyConsumptionData["energyConsumption1"] = socketData[1];
        } else if (socketData[0] == "ED2") {
          // Energy consumption 2.
          energyConsumptionData["energyConsumption2"] = socketData[1];
        } else if (socketData[0] == "ER1") {
          // Energy delivery 1.
          energyReturnData["energyReturn1"] = socketData[1];
        } else if (socketData[0] == "ER2") {
          // Energy delivery 2.
          energyReturnData["energyReturn2"] = socketData[1];
        } else if (socketData[0] == "GD1") {
          // Gas consumption 1.
          gasConsumptionData["gasConsumption1"] = socketData[1];
        } else if (socketData[0] == "GD2") {
          // Gas consumption 2.
          gasConsumptionData["gasConsumption2"] = socketData[1];
        }
      }
      this.energyConsumption.push(energyConsumptionData);
      this.energyReturn.push(energyReturnData);
      this.gasConsumption.push(gasConsumptionData);

      if (rowNumber != 99) {
        nextRowNumber = rowNumber + 1;
        if (nextRowNumber > 0 && nextRowNumber <= this.monthsMaxRows) {
          // Send a request for the next available row.
          this.$store.dispatch(
            "sendMessage",
            `lastMonthsRow?r=${nextRowNumber}`
          );
        } else {
          this.loading = false;
        }
      }
    }
  }
};
</script>
