<template>
  <v-container>
    <v-row text-center wrap justify="center">
      <v-col cols="12" sm="12" md="6">
        <v-row>
          <v-col cols="12" sm="12" class="d-flex justify-space-between">
            <h1>Instellingen</h1>
            <v-btn
              color="orange"
              class="ma-2 white--text"
              :disabled="isLoading"
              @click="refresh"
            >
              Vernieuw
              <v-icon right>mdi-refresh</v-icon>
            </v-btn>
          </v-col>
          <v-col cols="12" sm="12">
            <v-card class="mb-4" elevation="4" :loading="isLoading">
              <v-card-text>
                <v-form ref="form" v-model="valid" lazy-validation>
                  <v-text-field
                    v-for="(value, name) in filteredSettings"
                    :key="name"
                    v-model="settings[name].value"
                    :label="settings[name].label"
                    :rules="settings[name].rules || []"
                    :type="settings[name].type || 'text'"
                    filled
                    required
                    :loading="isLoading"
                  ></v-text-field>
                  <v-btn
                    class="ma-2"
                    :disabled="isLoading || !valid"
                    @click="saveSettings"
                  >
                    Opslaan
                    <v-icon right>mdi-content-save</v-icon>
                  </v-btn>
                </v-form>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { mapState } from "vuex";

const pattern = /^\d{1,2}(\.\d{1,2})?$/;
const max = 99.99;

export default {
  data: () => ({
    valid: true,
    settings: {
      DT1: {
        label: "Prijs per verbruikte kWh (tarief 1)",
        value: null,
        rules: [
          v => pattern.test(v) || "Verkeerd formaat!",
          v => v < max || "Getal te groot!"
        ],
        type: "number"
      },
      DT2: {
        label: "Prijs per verbruikte kWh (tarief 2)",
        value: null,
        rules: [
          v => pattern.test(v) || "Verkeerd formaat!",
          v => v < max || "Getal te groot!"
        ],
        type: "number"
      },
      RT1: {
        label: "Prijs per teruggeleverde kWh (tarief 1)",
        value: null,
        rules: [
          v => pattern.test(v) || "Verkeerd formaat!",
          v => v < max || "Getal te groot!"
        ],
        type: "number"
      },
      RT2: {
        label: "Prijs per teruggeleverde kWh (tarief 2)",
        value: null,
        rules: [
          v => pattern.test(v) || "Verkeerd formaat!",
          v => v < max || "Getal te groot!"
        ],
        type: "number"
      },
      GAST: {
        label: "Prijs per verbruikte m3 gas",
        value: null,
        rules: [
          v => pattern.test(v) || "Verkeerd formaat!",
          v => v < max || "Getal te groot!"
        ],
        type: "number"
      },
      ENBK: {
        label: "Electra vaste kosten per maand",
        value: null,
        rules: [
          v => pattern.test(v) || "Verkeerd formaat!",
          v => v < max || "Getal te groot!"
        ],
        type: "number"
      },
      GNBK: {
        label: "Gas vaste kosten per maand",
        value: null,
        rules: [
          v => pattern.test(v) || "Verkeerd formaat!",
          v => v < max || "Getal te groot!"
        ],
        type: "number"
      },
      BgColor: {
        label: "Achtergrondkleur",
        value: null
      },
      FontColor: {
        label: "Tekstkleur",
        value: null
      },
      Interval: {
        label: "Telegram verwerkingsinterval (sec.)",
        value: null,
        type: "number"
      },
      SleepTime: {
        label: "OLED slaapstand (min.) (0 = oneindig)",
        value: null,
        type: "number"
      },
      MQTTbroker: {
        label: "MQTT Broker URL/IP",
        value: null
      },
      MQTTuser: {
        label: "MQTT gebruikersnaam",
        value: null
      },
      MQTTpasswd: {
        label: "MQTT wachtwoord",
        value: null
      },
      MQTTinterval: {
        label: "MQTT interval (sec.)",
        value: null,
        type: "number"
      },
      MQTTtopTopic: {
        label: "MQTT hoofdonderwerp",
        value: null
      }
    },
    isLoading: true
  }),
  computed: {
    filteredSettings: function() {
      const { BgColor, FontColor, ...rest } = this.settings;

      return rest;
    },
    ...mapState({
      message: state => state.socket.message.data,
      isConnected: state => state.socket.isConnected
    })
  },
  watch: {
    message(newValue) {
      // A message consists of data split by a comma, for example:
      // msgType=PerHoursHeaders,R=25,DH=(31) 00,H=(31) 00:00 - 00:59,ED=381,ER=0,GD=0.27,COSTS=0.27
      const singlePairs = newValue.split(",");
      const msgType = singlePairs[0].split("=")[1];
      if (msgType == "settings") {
        for (var i = 1; i < singlePairs.length; i++) {
          const onePair = singlePairs[i].split("=");
          const label = onePair[0].trim();
          const value = onePair[1].trim();

          if (
            label == "DT1" ||
            label == "DT2" ||
            label == "RT1" ||
            label == "RT2" ||
            label == "GAST" ||
            label == "ENBK" ||
            label == "GNBK" ||
            label == "Interval" ||
            label == "SleepTime"
          ) {
            this.settings[label].value = value * 1;
          } else {
            this.settings[label].value = value;
          }
        }
        this.isLoading = false;
      }
    }
  },
  created() {
    let unsubscribe = this.$store.subscribe((mutation, state) => {
      if (state.socket.isConnected) {
        // Send request.
        this.$store.dispatch("sendMessage", "tabSettings");
        this.$store.dispatch("sendMessage", "getDevInfo");
        this.$store.dispatch("sendMessage", "sendSettings");

        unsubscribe();
      }
    });
  },
  methods: {
    refresh: function() {
      this.isLoading = true;
      this.$store.dispatch("sendMessage", "tabSettings");
    },
    saveSettings() {
      const data = Object.entries(this.settings).reduce(
        (accumulator, currentValue, currentIndex, array) => {
          return (accumulator +=
            "," + currentValue[0] + "=" + currentValue[1].value);
        },
        "saveSettings"
      );
      this.isLoading = true;
      this.$store.dispatch("sendMessage", data);
      this.$store.dispatch("sendMessage", "getDevInfo");
      this.$store.dispatch("sendMessage", "sendSettings");
    }
  }
};
</script>
