<template>
  <v-container>
    <v-row text-center wrap>
      <v-col cols="12" sm="12" class="d-flex justify-space-between">
        <h1>Systeeminfo</h1>
        <v-btn
          color="orange"
          class="ma-2 white--text"
          :disabled="isLoading"
          @click="refresh"
        >
          Vernieuw
          <v-icon right>mdi-refresh</v-icon>
        </v-btn>
      </v-col>
      <v-col cols="12" sm="12" md="6">
        <v-row>
          <v-col cols="12" sm="12">
            <v-card
              class="mb-4"
              elevation="4"
              :loading="isLoading"
              v-for="(blocks, index) in information"
              :key="index"
            >
              <v-card-title>
                <h4>{{ getHeaderTitle(index) }}</h4>
              </v-card-title>
              <v-divider></v-divider>
              <v-list dense>
                <v-list-item v-for="(block, index) in blocks" :key="index">
                  <v-list-item-content style="font-weight: bold;"
                    >{{ block.title }}:</v-list-item-content
                  >
                  <v-list-item-content class="align-end">{{
                    block.value
                  }}</v-list-item-content>
                </v-list-item>
              </v-list>
            </v-card>
          </v-col>
        </v-row>
      </v-col>
      <v-col cols="12" sm="12" md="6">
        <v-row>
          <v-col cols="12" sm="12">
            <v-card
              class="mb-4"
              elevation="4"
              :loading="isLoading"
              v-for="(blocks, index) in information2"
              :key="index"
            >
              <v-card-title>
                <h4>{{ getHeaderTitle(index) }}</h4>
              </v-card-title>
              <v-divider></v-divider>
              <v-list dense>
                <v-list-item v-for="(block, index) in blocks" :key="index">
                  <v-list-item-content style="font-weight: bold;"
                    >{{ block.title }}:</v-list-item-content
                  >
                  <v-list-item-content class="align-end">{{
                    block.value
                  }}</v-list-item-content>
                </v-list-item>
              </v-list>
            </v-card>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { mapState } from "vuex";

export default {
  data: () => ({
    headers: [
      { text: "Slimme meter", value: "smartMeter" },
      { text: "DSMR", value: "dsmr" },
      { text: "Wi-Fi", value: "wifi" },
      { text: "Telegrammen", value: "telegrams" },
      { text: "ESP", value: "esp" }
    ],
    information: {
      smartMeter: {
        identification: {
          title: "Identificatie",
          value: "-"
        },
        p1Version: {
          title: "P1 versie",
          value: "-"
        },
        energyTariff: {
          title: "Electriciteitstarief",
          value: "-"
        },
        equipmentID: {
          title: "Apparatuur ID",
          value: "-"
        },
        gasEquipmentID: {
          title: "Gas apparatuur ID",
          value: "-"
        },
        gasDevType: {
          title: "Gas ontwikkelingstype",
          value: "-"
        }
      },
      dsmr: {
        author: {
          title: "DSMR auteur",
          value: "-"
        },
        firmwareVersion: {
          title: "DSMR firmwareversie",
          value: "-"
        },
        hostname: {
          title: "DSMR hostnaam",
          value: "-"
        },
        uptime: {
          title: "DSMR bedrijfstijd",
          value: "-"
        },
        lastResetReason: {
          title: "DSMR laatste reset reden",
          value: "-"
        },
        compiled: {
          title: "DSMR samengesteld op",
          value: "-"
        },
        freeHeap: {
          title: "DSMR vrije geheugen",
          value: "-"
        }
      },
      wifi: {
        ssid: {
          title: "SSID",
          value: "-"
        },
        pskKey: {
          title: "Pre-shared key (PSK)",
          value: "-"
        },
        ipAddress: {
          title: "IP-adres",
          value: "-"
        },
        rssi: {
          title: "Signaalsterkte (RSSI) (dBm)",
          value: "-"
        }
      }
    },
    information2: {
      telegrams: {
        telegramsProcessed: {
          title: "Telegrammen verwerkt",
          value: "-"
        },
        telegramsErrors: {
          title: "Telegrammen foutmeldingen",
          value: "-"
        }
      },
      esp: {
        chipID: {
          title: "Chip ID",
          value: "-"
        },
        coreVersion: {
          title: "Core versie",
          value: "-"
        },
        sdkVersion: {
          title: "SDK versie",
          value: "-"
        },
        cpuFreqMhz: {
          title: "CPU frequentie (Mhz)",
          value: "-"
        },
        sketchSize: {
          title: "Sketchgrootte",
          value: "-"
        },
        freeSketchSize: {
          title: "Sketch vrije ruimte",
          value: "-"
        },
        flashChipID: {
          title: "Flash chip ID",
          value: "-"
        },
        flashChipSize: {
          title: "Flash chip grootte",
          value: "-"
        },
        flashChipRealSize: {
          title: "Flash chip ware grootte",
          value: "-"
        },
        flashChipSpeed: {
          title: "Flash chip snelheid",
          value: "-"
        },
        flashChipMode: {
          title: "Flash chip modus",
          value: "-"
        },
        boardType: {
          title: "Bordtype",
          value: "-"
        }
      }
    },
    isLoading: true,
    intervalTab: null
  }),
  computed: mapState({
    message: state => state.socket.message.data,
    isConnected: state => state.socket.isConnected
  }),
  watch: {
    message(newValue) {
      // A message consists of data split by a comma, for example:
      // msgType=PerHoursHeaders,R=25,DH=(31) 00,H=(31) 00:00 - 00:59,ED=381,ER=0,GD=0.27,COSTS=0.27
      const singlePairs = newValue.split(",");
      const msgType = singlePairs[0].split("=")[1];
      if (msgType == "sysInfo") {
        for (var i = 1; i < singlePairs.length; i++) {
          let onePair = singlePairs[i].split("=");
          switch (onePair[0].trim()) {
            // Slimme meter.
            case "SysID":
              this.information.smartMeter.identification.value = onePair[1].trim();
              break;
            case "SysP1":
              this.information.smartMeter.p1Version.value = onePair[1].trim();
              break;
            case "SysET":
              this.information.smartMeter.energyTariff.value = onePair[1].trim();
              break;
            case "SysEqID":
              this.information.smartMeter.equipmentID.value = onePair[1].trim();
              break;
            case "GEID":
              this.information.smartMeter.gasEquipmentID.value = onePair[1].trim();
              break;
            case "GDT":
              this.information.smartMeter.gasDevType.value = onePair[1].trim();
              break;
            // DSMR.
            case "SysAuth":
              this.information.dsmr.author.value = onePair[1].trim();
              break;
            case "SysFwV":
              this.information.dsmr.firmwareVersion.value = onePair[1].trim();
              break;
            case "Hostname":
              this.information.dsmr.hostname.value = onePair[1].trim();
              break;
            case "upTime":
              this.information.dsmr.uptime.value = onePair[1].trim();
              break;
            case "lastReset":
              this.information.dsmr.lastResetReason.value = onePair[1].trim();
              break;
            case "Compiled":
              this.information.dsmr.compiled.value = this.formatDateTime(
                onePair[1].trim()
              );
              break;
            case "FreeHeap":
              this.information.dsmr.freeHeap.value = onePair[1].trim();
              break;
            // Wi-Fi.
            case "SSID":
              this.information.wifi.ssid.value = onePair[1].trim();
              break;
            case "PskKey":
              this.information.wifi.pskKey.value = onePair[1].trim();
              break;
            case "IpAddress":
              this.information.wifi.ipAddress.value = onePair[1].trim();
              break;
            case "WiFiRSSI":
              this.information.wifi.rssi.value = onePair[1].trim();
              break;
            // Telegrammen.
            case "TelegramCount":
              this.information2.telegrams.telegramsProcessed.value = onePair[1].trim();
              break;
            case "TelegramErrors":
              this.information2.telegrams.telegramsErrors.value = onePair[1].trim();
              break;
            // ESP.
            case "ChipID":
              this.information2.esp.chipID.value = onePair[1].trim();
              break;
            case "CoreVersion":
              this.information2.esp.coreVersion.value = onePair[1].trim();
              break;
            case "SdkVersion":
              this.information2.esp.sdkVersion.value = onePair[1].trim();
              break;
            case "CpuFreqMHz":
              this.information2.esp.cpuFreqMhz.value = onePair[1].trim();
              break;
            case "SketchSize":
              this.information2.esp.sketchSize.value = onePair[1].trim();
              break;
            case "FreeSketchSpace":
              this.information2.esp.freeSketchSize.value = onePair[1].trim();
              break;
            case "FlashChipID":
              this.information2.esp.flashChipID.value = onePair[1].trim();
              break;
            case "FlashChipSize":
              this.information2.esp.flashChipSize.value = onePair[1].trim();
              break;
            case "FlashChipRealSize":
              this.information2.esp.flashChipRealSize.value = onePair[1].trim();
              break;
            case "FlashChipSpeed":
              this.information2.esp.flashChipSpeed.value = onePair[1].trim();
              break;
            case "FlashChipMode":
              this.information2.esp.flashChipMode.value = onePair[1].trim();
              break;
            case "BoardType":
              this.information2.esp.boardType.value = onePair[1].trim();
              break;
          }
        }
        this.isLoading = false;
      }
    }
  },
  created() {
    let unsubscribe = this.$store.subscribe((mutation, state) => {
      if (state.socket.isConnected) {
        // Send request.
        this.$store.dispatch("sendMessage", "tabSysInfo");
        // Set interval for request.
        this.intervalTab = setInterval(() => {
          this.$store.dispatch("sendMessage", "tabSysInfo");
        }, 20000);

        unsubscribe();
      }
    });
  },
  beforeRouteEnter(to, from, next) {
    next(vm => {
      clearInterval(vm.data.intervalTab);
    });
  },
  beforeRouteLeave(to, from, next) {
    next(vm => {
      clearInterval(vm.data.intervalTab);
    });
  },
  methods: {
    refresh: function() {
      this.isLoading = true;
      this.$store.dispatch("sendMessage", "tabSysInfo");
    },
    getHeaderTitle: function(value) {
      return this.headers.find(v => v["value"] === value).text;
    },
    formatDateTime(timeStamp) {
      const locale = "nl-NL";
      const options = {
        year: "numeric",
        month: "2-digit",
        day: "2-digit",
        hour: "numeric",
        minute: "numeric",
        second: "numeric"
      };
      const date = new Date(Date.parse(timeStamp)).toLocaleDateString(
        locale,
        options
      );

      return date;
    }
  }
};
</script>
